/*
* Copyright (c) 2020 The ZMK Contributors
*
* SPDX-License-Identifier: MIT
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <200>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings =
                <&kp>,
                <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        alpha {
            bindings = <
       &kp Q       &kp W       &kp E   &kp R      &kp T             &kp Y   &kp U           &kp I         &kp O                     &kp P
       &kp A       &kp S       &kp D   &kp F      &kp G             &kp H   &kp J           &kp K         &kp L  &hm LEFT_SHIFT SEMICOLON
 &hm LCTRL Z  &hm LGUI X  &hm LALT C   &kp V      &kp B             &kp N   &kp M  &hm LALT COMMA  &hm LGUI DOT           &hm LCTRL SLASH
                                       &mo 1  &kp SPACE  &hm LSHIFT ENTER   &mo 2
            >;
        };

        num {
            bindings = <
        &kp N1   &kp N2     &kp N3     &kp N4  &kp N5    &kp N6         &kp N7       &kp N8   &kp N9            &kp N0
 &kp BACKSPACE  &kp ESC  &kp MINUS  &kp EQUAL  &trans  &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP  &kp END  &kp SINGLE_QUOTE
        &trans   &trans     &trans     &trans  &trans    &trans         &trans       &trans   &trans     &kp BACKSLASH
                                       &trans  &trans    &trans          &mo 3
            >;
        };

        sys {
            bindings = <
 &kp GRAVE  &kp F1  &kp F2  &kp F3  &kp F10    &trans    &trans  &trans     &trans  &trans
   &kp TAB  &kp F4  &kp F5  &kp F6  &kp F11  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans
    &trans  &kp F7  &kp F8  &kp F9  &kp F12    &trans    &trans  &trans     &trans  &trans
                             &mo 3   &trans    &trans    &trans
            >;
        };

        misc {
            bindings = <
     &trans  &trans  &trans  &trans  &kp LPAR  &kp RPAR  &trans  &trans  &trans  &trans
 &kp DELETE  &trans  &trans  &trans  &kp LBRC  &kp RBRC  &trans  &trans  &trans  &trans
     &trans  &trans  &trans  &trans  &kp LBKT  &kp RBKT  &trans  &trans  &trans  &trans
                             &trans    &trans    &trans  &trans
            >;
        };
    };
};
