#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
  flavor = "tap-preferred";
  tapping_term_ms = <200>;
};

/ {

  behaviors {
    hm: homerow_mods {
      compatible = "zmk,behavior-hold-tap";
      label = "HOMEROW_MODS";
      #binding-cells = <2>;
      tapping-term-ms = <250>;
      quick_tap_ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
    td: tapdance {
      compatible = "zmk,behavior-hold-tap";
      label = "TAPDANCE";
      #binding-cells = <2>;
      tapping-term-ms = <250>;
      quick_tap_ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    layer_0 {
      bindings = <
        &kp Q &kp W       &kp E       &kp R       &kp T                                &kp Y     &kp U       &kp I           &kp O         &kp P
        &kp A &hm LGUI S  &hm LALT D  &hm LCTRL F &kp G                                &kp H     &hm RCTRL J &hm RALT K      &hm RGUI L    &td APOS SEMI
        &kp Z &kp X       &kp C       &kp V       &kp B                                &kp N     &kp M       &td MINUS COMMA &td EXCL DOT  &td UNDERSCORE SLASH
                                                  &kp LSHIFT &td TAB SPC      &kp RET  &mo 1
        >;
    };

    layer_1 {
      bindings = <
        &kp N1    &kp N2    &kp N3    &kp N4     &kp N5                       &kp N6   &kp N7    &kp N8  &kp N9    &kp N0
        &kp BSPC  &kp TILDE &kp PIPE  &kp PLUS   &trans                       &kp LEFT &kp DOWN  &kp UP  &kp RIGHT &kp DEL
        &kp ESC   &kp GRAVE &kp BSLH  &kp EQUAL  &trans                       &kp TAB  &to 2     &trans  &trans    &trans
                                                 &to 0 &kp LSHIFT   &kp RALT  &trans
        >;
    };

    layer_2 {
      bindings = <
        &trans   &kp K_PREV &kp K_PP      &kp K_NEXT   &kp LPRN                   &kp RPRN      &kp F7 &kp F8 &kp F9 &kp F10
        &kp BSPC &kp K_MUTE &kp K_VOL_DN  &kp K_VOL_UP &kp LS(LBKT)               &kp LS(RBKT)  &kp F4 &kp F5 &kp F6 &kp F11
        &trans   &trans     &trans        &trans       &kp LBKT                   &kp RBKT      &kp F1 &kp F2 &kp F3 &kp F12
                                                   &to 0 &kp LSHIFT     &kp LCTRL &to 1
        >;
    };
  };
};
